/* * {
  border: 1px dotted red;
} */

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* SECTION 1 HERO AND HEADER ------------------------------------------ */

.hero,
.quote,
.signup {
  flex-grow: 1;
  padding-left: 150px;
  padding-right: 150px;
}

.display {
  flex-grow: 0.5;
  padding-left: 150px;
  padding-right: 150px;
}

.hero,
.footer {
  background-color: #1f2937;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.links li a,
.footer {
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1em;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.text-container,
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  min-height: 200px;
  flex: 1;
}

.text-container {
  align-items: flex-start;
}

.hero-image {
  text-align: center;
  background-color: grey;
}

.hero-title,
.hero-subtext {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero-button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #3882f6;
  color: white;
}

/* SECTION 2 DISPLAY ------------------------------------------ */

.display {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  gap: 3em;
}

.box-container {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 208px;
}

.image {
  border: 4px solid #3882f6;
  border-radius: 10px;
  height: auto;
  width: 200px;
}

.title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-top: 50px;
}

.image {
  height: 200px;
}

/* SECTION 3 QUOTE ------------------------------------------ */

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding-right: 200px;
  padding-left: 200px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}

/* SECTION 4 SIGNUP ------------------------------------------ */

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 40px 90px;
  color: white;
  width: 700px;
  flex-wrap: wrap;
}

.headline {
  font-size: 20px;
  font-weight: bold;
}

.signup-subtext {
  font-size: 12px;
}

.signup-button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
}

/* FOOTER ------------------------------------------ */

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
